.button {
    height: 46px;
    padding: 14px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C4C4C4;
}

.button.active {
    background-color: #C4C4C4;
}